@page
@model Web.Pages.Wlasciciel.Pracownicy.IndexModel
@{
    ViewData["Title"] = "Zarządzanie pracownikami";
    Layout = "~/Pages/Wlasciciel/_OwnerLayout.cshtml";
}

<h2>Zarządzaj pracownikami</h2>
<p>Wybierz którą grupą pracowników chcesz zarządzać z menu po lewej.</p>

