@page

@{
}


<div class="container my-5 text-center">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h3>Płatność powiodła się, karnet został pomyślnie zakupiony</h3>
    <a class="btn btn-primary" href="/Karnet">Mój karnet</a>
</div>
