@page
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Witaj!</h2>
    <h4 class="display-6">Serwis Zarządzania i Wspierania Pracy Siłowni Sportowej</h4>
</div>
