@page
@model Web.Pages.Admin.ZarzadzajUzytkownikami.IndexModel
@{
    ViewData["Title"] = "Zarządzanie użytkownikami";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<h2>Zarządzaj użytkownikami</h2>
<p>Wybierz którą grupą użytkowników chcesz zarządzać z menu po lewej.</p>

