@page
@model Web.Pages.Admin.ZarzadzajUzytkownikami.KlienciModel
@{
    ViewData["Title"] = "Klienci";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}

<h3>Klienci</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Data rejestracji</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.ViewModel.Users)
        {
            <partial name="_client" for="@client" />
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newClientModal">
        Dodaj konto klienta
    </button>
</div>


<!-- New PersonalTrainer Modal -->
<div class="modal fade" id="newClientModal" tabindex="-1" aria-labelledby="newClientModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newClientModalLabel">Dodaj klienta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="Create" method="post" id="newClientForm">
                    <div class="mb-3">
                        <label asp-for="NewClientInputModel.Name" class="form-label"></label>
                        <input asp-for="NewClientInputModel.Name" class="form-control" />
                        <span asp-validation-for="NewClientInputModel.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NewClientInputModel.Surname" class="form-label"></label>
                        <input asp-for="NewClientInputModel.Surname" class="form-control" />
                        <span asp-validation-for="NewClientInputModel.Surname" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NewClientInputModel.Email" class="form-label"></label>
                        <input asp-for="NewClientInputModel.Email" class="form-control" />
                        <span asp-validation-for="NewClientInputModel.Email" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                <button type="submit" form="newClientForm" class="btn btn-success">Utwórz</button>
            </div>
        </div>
    </div>
</div>
