@using ApplicationCore.Interfaces;
@using ApplicationCore.Services
@using Infrastructure.Identity;
@using Microsoft.AspNetCore.Identity;
@inject IClientService _clientService
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SZWPSS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Client"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="" id="DropdownManage" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Treningi
                                </a>
                                <div class="dropdown-menu" aria-labelledby="DropdownManage">
                                    <a class="dropdown-item" asp-area="" asp-page="/Klient/HarmonogramZajec/Index">Harmonogram zajęć</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Klient/HistoriaTreningow/Index">Historia treningów</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Klient/Karnet/Index">Karnet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Klient/PlanyTreningowe/Index">Plany treningowe</a>
                            </li>
                        }
                        else if (User.IsInRole("PersonalTrainer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Trener/Personalny/HarmonogramZajec/Index">Harmonogram zajęć</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Trener/Personalny/PlanyTreningowe/Index">Plany treningowe</a>
                            </li>
                        }
                        else if (User.IsInRole("GroupTrainer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Trener/Grupowy/HarmonogramZajec/Index">Harmonogram zajęć</a>
                            </li>
                        }
                        else if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/ZarzadzajUzytkownikami/Index">Zarządzaj użytkownikami</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SZWPSS
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>