@page
@model Web.Pages.Menadzer.Pracownicy.IndexModel
@{
    ViewData["Title"] = "Zarządzanie pracownikami";
    Layout = "~/Pages/Menadzer/_ManagerLayout.cshtml";
}

<h2>Zarządzaj pracownikami</h2>
<p>Wybierz którą grupą pracowników chcesz zarządzać z menu po lewej.</p>
